        /* Override B3 .panel adding a subtly transparent background */
        .log-default {
            background-color: rgba(255, 255, 255, 0.9);
        }

        .margin{
            margin: 40px 0;
        }
        /* http://css-tricks.com/perfect-full-page-background-image/ */
        html {
            background: url(http://appwchance-1987.appspot.com/resources/img/mapa.jpg) no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        body {
            padding-top: 20px;
            font-size: 16px;
            background: transparent;
        }
        .panelnova {
          margin-bottom: 20px;
          border-radius: 0px;
        }
        .img-center {
          margin: 0 auto;
        }