.panel-mas .panel-body .media-object {
width: 150px;
}
.widget-photoday .panel-body {
    padding: 0;
}

.widget-photoday .photoday img {
    width: 100%;
    display: block;
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}

.widget-photoday .photo-details {
    padding: 15px;
}

.widget-photoday .photo-title {
    color: #333;
    font-size: 18px;
    margin: 0;
    line-height: normal;
}

.widget-photoday .photo-details small {
    display: block;
}

.widget-photoday .photo-meta {
    list-style: none;
    padding: 0;
    margin: 0;
    border-top: 1px solid #e3e3e3;
    background-color: #f7f7f7;
}

.widget-photoday .photo-meta li {
    display: table-cell;
    width: 1%;
    text-align: center;
    border-left: 1px solid #e3e3e3;
}

.widget-photoday .photo-meta li:first-child {
    border-left: 0;
}

.widget-photoday .photo-meta li a,
.widget-photoday .photo-meta li span {
    padding: 15px 10px;
    display: block;
    color: #999;
    font-size: 12px;
}

.widget-photoday .photo-meta li a:hover {
    color: #666;
    text-decoration: none;
}
.panel-mas .panel-heading .media-object,
.panel-mas .panel-footer .media-object {
    width: 30px;
    border-radius: 1px;
}
.publicado-main{
    width: 30px;
    border-radius: 1px;
}
.panel-double .panel-body .media-object {
width: 150px;
}
.image-mini{
    margin: 5px;
    width: 120px;
    height: 120px;
}
.image-profile
{
    width: 25px;
    height: 25px;
    margin-right: 5px;
}
.profileheader {
padding: 15px;
border-bottom: 1px solid #d3d7db;
border-top: 1px solid #eee;
background: #f7f7f7;
position: relative;
}
.profilecontent {
padding: 20px;
position: relative;
}
.textprofile
{
    margin-bottom: 20px;
}
.profiledata
{
    margin-bottom: 20px;
}